# Azure OpenAI and OpenAI
# https://learn.microsoft.com/en-us/azure/ai-services/openai/reference

OPENAI_API_VERSION=2024-02-01

#============#
# Azure      #
#============#

# EASTUS2_API_KEY=
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=

AZURE_MISTRAL_API_KEY=
AZURE_LLAMA2_70B_API_KEY=

#-----------------
# Azure AI Search
#-----------------

AZURE_AI_SEARCH_SERVICE_ENDPOINT=
AZURE_AI_SEARCH_INDEX_NAME=
AZURE_AI_SEARCH_API_KEY=

AZURE_AI_SEARCH_API_VERSION=
AZURE_AI_SEARCH_SEARCH_OPTION_QUERY_TYPE=
AZURE_AI_SEARCH_SEARCH_OPTION_TOP=
AZURE_AI_SEARCH_SEARCH_OPTION_SELECT=

#============#
# OpenAI     #
#============#

# OPENAI_API_KEY=

#============#
# Google     #
#============#

GOOGLE_KEY=