# promptfoo looks for this env file from where the command is run. Therefore, if you are running evals while in the `reports/promptfoo*` folder, you'll need to copy it in there.

#============#
# OpenAI     #
#============#

OPENAI_BASE_URL=litellm.toxpipe.niehs.nih.gov
OPENAI_API_KEY=sk-secret-key-here
OPENAI_API_VERSION=2024-02-01

#============#
# Azure      #
#============#

# AZURE_OPENAI_API_KEY=secret-key-here
# AZURE_OPENAI_ENDPOINT=toxpipe-chat.openai.azure.com # Does not work for promptfoo, must be set in provider config

#-----------------
# Azure AI Search
#-----------------

AZURE_AI_SEARCH_SERVICE_ENDPOINT=
AZURE_AI_SEARCH_INDEX_NAME=
AZURE_AI_SEARCH_API_KEY=

AZURE_AI_SEARCH_API_VERSION=
AZURE_AI_SEARCH_SEARCH_OPTION_QUERY_TYPE=
AZURE_AI_SEARCH_SEARCH_OPTION_TOP=
AZURE_AI_SEARCH_SEARCH_OPTION_SELECT=


#============#
# Google     #
#============#

GOOGLE_KEY=

#----------#
# Langfuse #
#----------#

LANGFUSE_HOST=https://langfuse.toxpipe.niehs.nih.gov
LANGFUSE_PUBLIC_API_KEY=pk-lf-public-key-goes-here
LANGFUSE_SECRET_API_KEY=sk-lf-secret-key-goes-here